*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --low-health: #cc0000;
    --mid-health: #ffbb00;
    --normal-health: #009900;
    --computer-health-bar: var(--normal-health);
    --player-health-bar: var(--normal-health);
    --pokemon0-health-bar: var(--normal-health);
    --pokemon1-health-bar: var(--normal-health);
    --pokemon2-health-bar: var(--normal-health);
    --pokemon3-health-bar: var(--normal-health);
    --pokemon4-health-bar: var(--normal-health);

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #333;
    height: 100%
}

.gameboy {
    background-color: #eee;
    box-shadow: 15px -20px 15px rgba(0, 0, 0, 1);
    padding: 60px 0 40px 0;
    border-radius: 2% 2% 16% 2%;
    width: 1050px;
    height: 1550px;
    margin: 2px auto;
}

.screen {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
    background-color: #918d90;
    padding: 30px 30px 0 30px;
    border-radius: 3% 3% 16% 4%;
    width: 960px;
    margin: -10px auto;
}



.line1 {
    position: relative;
    top: -30px;
    background-color: #f3f3f3;
    width: 1050px;
    box-shadow: 2px 2px 2px #999 inset;
    height: 12px;
    border-bottom: 1px solid#ccc;
    border-radius: 10%;
}

.line2 {
    top: -35px;
    position: relative;
    background-color: #a14a79;
    width: 910px;
    height: 4px;
    border-radius: 8px;
}

.line3 {
    position: relative;
    background-color: #483c80;
    width: 910px;
    height: 4px;
    top: -30px;
    border-radius: 8px;
}

.dot-matrix {
    position: relative;
    background-color: #918d90;
    z-index: 1;
    text-align: center;
    color: #ded9d9;
    font-family: sans-serif;
    letter-spacing: 13px;
    width: 600px;
    left: 230px;
    margin-top: -44px;
    font-size: 13px;
}

.dpad {
    position: relative;
    top: 180px;
    left: 180px;
}

.dpad-centre {
    position: relative;
    width: 60px;
    height: 60px;
    background: #000;
    border-radius: 100%;
    top: -210px;
    left: 5px;
    box-shadow: 5px 5px 3px #333 inset;
}

.dpad-up-down {
    position: relative;
    width: 70px;
    height: 220px;
    background: #222;
    border-radius: 12%;
    box-shadow: 5px 5px 3px #000;
    border-right: 4px solid #555;
    border-top: 4px solid #555;
}

.dpad-left-right {
    position: relative;
    width: 220px;
    height: 70px;
    background: #222;
    border-radius: 12%;
    top: -145px;
    left: -75px;
    border-right: 4px solid #555;
    box-shadow: 5px 5px 3px #000;
}

.gameButtons {
    position: relative;
    top: -180px;
    left: 850px;
}

.gameButtons span {
    position: relative;
    font-size: 28px;
    color: #0a1a7d;
    top: 130px;
    left: 50px;
}

.a-button {
    position: relative;
    width: 100px;
    height: 100px;
    background: #a22e5d;
    border-radius: 100%;
    box-shadow: 5px 5px 9px #555;
    border-top: 4px solid #ca7093;
    border-right: 4px solid #ca7093;
    transform: rotate(-15deg);
}

.b-button {
    position: relative;
    width: 100px;
    height: 100px;
    background: #a22e5d;
    border-radius: 100%;
    left: -120px;
    box-shadow: 5px 5px 6px #555;
    border-top: 4px solid #ca7093;
    border-right: 4px solid #ca7093;
    transform: rotate(-15deg);
}

.optionButtons {
    position: relative;
    top: -20px;
    left: 550px;
}

.optionButtons span {
    position: relative;
    font-size: 25px;
    letter-spacing: 4px;
    color: #0a1a7d;
    top: 45px;
}

.select {
    position: relative;
    width: 140px;
    height: 22px;
    background: #999;
    box-shadow: 5px 5px 9px #555;
    border-top: 4px solid #999;
    border-right: 4px solid #999;
    border-radius: 15px;
    transform: rotate(-30deg);
    left: -220px;
}

.start {
    position: relative;
    width: 140px;
    height: 22px;
    background: #999;
    box-shadow: 5px 5px 6px #555;
    border-top: 4px solid #999;
    border-right: 4px solid #999;
    border-radius: 15px;
    transform: rotate(-30deg);
}

.grills {
    position: relative;
    left: 850px;
    top: -20px
}

.grill {
    position: relative;
    width: 160px;
    height: 22px;
    background: #ddd;
    border-radius: 15%;
    transform: rotate(60deg);
    top: 100px;
    box-shadow: 0 50px #ddd,
        0 100px #ddd,
        0 150px #ddd,
        0 200px #ddd,
        0 250px #ddd;
}

.inside-grill {
    position: relative;
    width: 110px;
    height: 5px;
    background: #999;
    border-radius: 15%;
    transform: rotate(60deg);
    top: 70px;
    left: 12px;
    box-shadow: 0 50px #999,
        0 100px #999,
        0 150px #999,
        0 200px #999;
}



.text {
    position: relative;
    top: 610px;
    left: -10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #0a1a7d;
    font-size: 42px;
}

.nintendo {
    letter-spacing: -2.5px;
}

.text em {
    font-weight: normal;
    font-size: 48px;
}

.tm {
    font-size: 20px;
}

.light {
    position: relative;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    top: 220px;
    left: -425px;
    border-radius: 100%;
    box-shadow: 2px 2px 0 #400 inset;
    /* background: #f00; */
    background: #600;
    content: "";
}

/* .gameboy:hover .light {
    background: #f00;
} */

.batteryText {
    position: absolute;
    top: 30px;
    left: -15px;
    color: #fff;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;

}

.health-bar {
    width: 340px;
    height: 15px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 1.3em;
    color: #fff;
    position: relative;
    border: 2px solid #000;
}

.health-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: 0.2em;
    top: 0.1em;
    bottom: 0.1em;
    width: calc(var(--health, 100)*1%);
    min-width: 0;
    max-width: calc(100% - 0.2em);
    border-radius: 1.3em;
    /* padding: 0.1em; */
    background-color: var(--normal-health);
}




.pokemonName {
    margin: 5px 0;
}

.computer.health-bar::before {
    background-color: var(--computer-health-bar);
}

.player.health-bar::before {
    background-color: var(--player-health-bar);
}

.pokemon0.health-bar::before {
    background-color: var(--pokemon0-health-bar);
}

.pokemon1.health-bar::before {
    background-color: var(--pokemon1-health-bar);
}

.pokemon2.health-bar::before {
    background-color: var(--pokemon2-health-bar);
}

.pokemon3.health-bar::before {
    background-color: var(--pokemon3-health-bar);
}

.pokemon4.health-bar::before {
    background-color: var(--pokemon4-health-bar);
}

#battle {
    background-color: #000;
    width: 750px;
    height: 500px;
    z-index: 1;
}

.introText {
    padding: 1em;
    background-color: white;
    content: "Thomas";
    width: 700px;
    height: 120px;
    position: absolute;
    top: 365px;
    left: 35px;
    line-height: 2em;
    border: 8px solid #000;
    border-radius: 25px;
    color: black;
    opacity: 0;
    transition: all 2s;
}

.introText span {
    cursor: pointer;
    border-bottom: 2px solid black;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: -0.5em;
}


.arrowDown {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


#canvasDiv {
    width: 750px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    /* box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22); */
}


.wrapper {
    position: relative;
    margin: 0 auto;
    top: -40px;
    width: 750px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 187.5px);
    /* grid-gap: 10px; */
    grid-auto-rows: minmax(70px, auto);
    background-color: #f3f3f3;
    /* border: 2px solid #ae9b32; */
    box-shadow: 14px 14px rgba(0, 0, 0, 0.1) inset;
    display: none;

}

.one {
    grid-column: 1/3;
    grid-row: 1;
    border: 2px solid black;
    padding: 0.5em;
}

.two {
    grid-column: 3/5;
    grid-row: 1 / 4;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid black;

}

.three {
    grid-column: 1/3;
    grid-row: 2 / 5;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid black;
}

.four {
    padding: 0.5em;
    grid-column: 3/5;
    grid-row: 4;
    border: 2px solid black;
}

.five {
    grid-column: 1/3;
    grid-row: 5;
    border: 2px solid black;
    line-height: 1.5em;
}

.six {
    grid-column: 3;
    grid-row: 5;
    border: 2px solid black;
}

.seven {
    grid-column: 4;
    grid-row: 5;
    border: 2px solid black;
}

.eight {
    transition: all 2s;
    grid-column: 1/3;
    grid-row: 1/6;
    border: 5px solid black;
    background-color: white;
    z-index: 1;
    /* transition: all 1s; */
    transition-timing-function: ease-in-out;
    /* transform: translate(-450px, 0px); */
    opacity: 0;
    display: none;
}

.nested {
    display: grid;
    grid-template-rows: minmax(auto, auto);
    padding: 5px 8px;
}

.ChooseYourPokemon {
    font-size: 1em;
    text-align: center;
    padding: 8px;

}

.teamMember {
    font-size: 1.5em;
    margin-top: 5px;
    cursor: pointer;
    height: 80px;
}

.teamMemberImage {
    width: 50px;
    height: 55px;
    margin-left: 5px;
}

.teamMemberName {
    vertical-align: super;
}

.white {
    color: #f3f3f3;
}

.battlePokemon {
    display: flex;
    align-items: center;
}

.pokemonName {
    font-size: 15px;
}

#computerPokemonImage {
    transition: all 2s;
    transition-timing-function: ease-in;
    width: 340px;
}

#playerPokemonImage {
    width: 130px;
    border-top: 50px solid #ff0000;
    border-left: 50px solid #ddd;
    border-right: 50px solid #ff0000;
    border-bottom: 50px solid #ddd;
    margin-left: -150px;
    margin-bottom: -100px;
    transform: rotate(-45deg);
    border-radius: 100%;
    opacity: 0;
}


.menu {
    font-size: 0.7em;
    padding: 0.2em;
}

.menuItem {
    cursor: pointer;
}


.dialogueBox {
    padding: 0.2em;

}


@keyframes shake {
    0% {
        transform: translate(2px, 2px) rotate(0deg);
    }

    10% {
        transform: translate(-2px, -4px) rotate(-2deg);
    }

    20% {
        transform: translate(-6px, 0px) rotate(2deg);
    }

    30% {
        transform: translate(6px, 4px) rotate(0deg);
    }

    40% {
        transform: translate(2px, -2px) rotate(2deg);
    }

    50% {
        transform: translate(-2px, 4px) rotate(-2deg);
    }

    60% {
        transform: translate(-6px, 2px) rotate(0deg);
    }

    70% {
        transform: translate(6px, 2px) rotate(-2deg);
    }

    80% {
        transform: translate(-2px, -2px) rotate(2deg);
    }

    90% {
        transform: translate(2px, 4px) rotate(0deg);
    }

    100% {
        transform: translate(2px, -4px) rotate(-1deg);
    }
}
